---
---

$font-stack: 'Open Sans', sans-serif;
$body-font-size: 14px;

$brand-color: #2c8f82;
$primary-color: #222;
$secondary-color: #444;
$background-color: #fff;

$breakpoint: 550px;

body {
  color: $primary-color;
  background-color: $background-color;
  font: 100% $font-stack;
}

p {
	font-size: $body-font-size;
}

a {
	color: $brand-color;
	text-decoration: none;
}
a:hover {
	color: $secondary-color;
}

.page-title {
	margin-top: 40px;
	@media (max-width: $breakpoint) {
		margin-top: 20px;
	}
}

@import "flex_mixin";
@import "sticky_footer";
@import "top";
@import "foot";
@import "index";
@import "blog";
@import "post"
