<div class="post-listing">
  {% if include.post.external_url %}
    <a href="{{ include.post.external_url }}">{{ include.post.title }}</a>
  {% else %}
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
  {% endif %}
  {% if include.post.description %} - {{ include.post.description }} {% endif %}
  <div class="post-date">{{ include.post.date | date: '%B %d, %Y' }}</div>
  {% if include.post.related %}
  <div class="post-related-outer">
    {% for related in include.post.related %}
      <div class="post-related-inner">
        {% assign candidates = site.posts | concat: site.links %}
        {% assign relatedposts = candidates | where:'slug',related %}
        {% assign relatedpost = relatedposts[0] %}
        {% include posts_list_element.html post=relatedpost %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
