<div class="row top-bar">
	<div class="six columns logo">
		<a href="/">
			CAMERON<br>
			SUN
		</a>
	</div>

	<div class=" six columns nav-links">
		<div class="nav-item">
			<a href="https://twitter.com/cam_sun">
				<span class="icon-twitter-square"></span>
			</a>
        </div>
		<div class="nav-item">
			<a href="https://www.github.com/csun">
				<span class="icon-github-square"></span>
			</a>
        </div>
		<div class="nav-item">
            <a href="/feed.xml">
                <span class="icon-rss-square"></span>
            </a>
        </div>
	</div>
</div>
