.posts-list {
  margin-top: 40px;

  .category-heading {
    font-size: $body-font-size + 4;
  }

  .post-listing {
    margin-bottom: 10px;
    font-size: $body-font-size;
    .post-date {
      font-style: italic;
    }
  }
}

.page-controls {
  font-size: $body-font-size;
}
