.posts-list {
	margin-top: 40px;

	.post-listing {
		margin-bottom: 60px;

		.post-title {
			font-size: 28px;
		}
		.post-date {
			font-size: $body-font-size;
			font-style: italic;
		}
		.post-excerpt {
			font-size: $body-font-size;
			margin-top: 10px;
		}
	}
}

.page-controls {
	font-size: $body-font-size;
}

