.post-content {
	margin-top: -16px;

	.post-date {
		margin-bottom: 30px;
		font-size: $body-font-size;
		font-style: italic;
	}

	h1 {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 16px;
	}
}
